<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
<body>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/cactus.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post[num - 1].title}}</h1>
            <h2 class="subheading">{{post[num - 1].subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">Devesh</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{post[num - 1].body}}</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

{% include "footer.html" %}

</body>

</html>
