<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devesh Resume</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table cellspacing="20">
    <tr>
        <td><img class="thomas1 radius" src="static/Picsart_22-03-01_16-57-49-515.jpg" alt="Devesh Profile Picture" width="200"></td>
        <td><h1 id="name">Devesh</h1>
            <p><em><strong>Young Software Developer</strong></em><br>
                <a href="https://youtu.be/S1B3Xxn2oi0">MyVideos</a></p>
            <p>I'm a Python Full Stack Developer.<br></p>
        </td>
    </tr>
</table>

<br><strong><em>Coding Is Passion</em></strong>

<hr size="2">
<h3>Hobbies</h3>
<p>
<ol>
    <li><a href="https://devdocs.io/">Coding</a></li>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
    </ul>
    <li><a href="https://cowin.gov.in">Travelling</a></li>
    <li>Watching Shows</li>
</ol>

<hr>
<h3>Contact Me</h3>
<a href="html.html">MyContact</a>

<hr>
<h3>Education</h3>
<table cellspacing="10">
    <thead>
    <th align="center">
        Dates
    </th>
    <th align="center">
        School
    </th>
    </thead>
    <tbody>
    <tr>
        <td>2013-2019</td>
        <td>VPS Public School, Noida</td>
    </tr>
    <tr>
        <td>2019-2021</td>
        <td>Rajkiya Sarvodya Bal Vidyalya, Mayur Vihar</td>
    </tr>
    </tbody>
</table>

<hr>

<h3>Skills</h3>

<table cellspacing="20">
    <tr>
        <td>
            <table>
                <tr>
                    <td>Excel</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Web Development</td>
                    <td>⭐⭐</td>
                </tr>

            </table>
        </td>
</table>
</body>


