        body {
        background-color: #EAF6F6;
        }
        hr {
        background-color: #EAF6F6;
        border-style: dotted none none;
        width: 10%;
        border-width: 5px;
        border-color:gray;
        }
        h1 {
        color: brown;
        font:
        }
        h3 {
        color: #66BFBF
        }
        .radius {
        border-radius: 100%;
        }
        #name {
        font: Mistral;
        font-style: italic;
        }
